.container{
    display: grid;
    grid-template-areas: 
    'a a d d d'
    'b b d d d'
    'c c d d d';
    height: 100vh;
}
.a{
    grid-area: a;
    background-color: aqua;
    height: 100%;
}
.b{
    grid-area: b;
    background-color:pink;
    height: 100%;
}
.c{
    grid-area: c;
    background-color: chartreuse;
    height: 100%;
}
.d{
    grid-area: d;
    background-color:coral;
    height: 100%;
}